<div id="supporter-menu" class="bee-scrollbar-mini supporter-menu" role="tablist" aria-multiselectable="true">
    <div class="list-group list-group-root panel card" id="#list-group">
        <a href="#" class="list-group-item collapsed" data-parent="#supporter-menu" [ngClass]="{'hidden-sm-down': isMenuActive()}"><i class="icon_grid-2x2"></i> <span>Newsfeed</span></a>
        <a href="#" class="list-group-item collapsed" data-parent="#supporter-menu" [ngClass]="{'hidden-sm-down': isMenuActive()}"><i class="icon_star"></i> <span class="hidden-sm-down">My</span><span>&nbsp;Achievements</span></a>
        <a href="#" class="list-group-item collapsed" data-parent="#supporter-menu" [ngClass]="{'hidden-sm-down': isMenuActive()}"><i class="icon_wallet_alt"></i> <span class="hidden-sm-down">My</span><span>&nbsp;Donations</span></a>
        <a href="#" class="list-group-item collapsed" data-parent="#supporter-menu" [ngClass]="{'hidden-sm-down': isMenuActive()}"><i class="icon_id_alt"></i> <span class="hidden-sm-down">My</span><span>&nbsp;Profile</span></a>
        <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#supporter-menu" aria-expanded="false" [ngClass]="{'hidden-sm-down': isMenuActive() && !isMenuActive(4)}" (click)="setMenuActive(4)" *ngIf="!userIsAdmin"><i class="icon_cog"></i> <span class="hidden-sm-down">My</span><span>&nbsp;Settings</span></a>
        <div class="collapse" id="menu4" *ngIf="!userIsAdmin">
            <a href="#" class="list-group-item" data-parent="#menu4">Accountsettings</a>
            <a href="#" class="list-group-item" data-parent="#menu4">Authentication</a>
        </div>
    </div>
</div>
