DB_DEVELOPMENT_USERNAME=db_username
DB_DEVELOPMENT_PASSWORD=db_password
DB_DEVELOPMENT_NAME=db_name
DB_DEVELOPMENT_HOST=db_host
DB_DEVELOPMENT_PORT=db_port

DB_TEST_USERNAME=db_username
DB_TEST_PASSWORD=db_password
DB_TEST_NAME=db_name
DB_TEST_HOST=db_host
DB_TEST_PORT=db_port

DB_PRODUCTION_USERNAME=db_username
DB_PRODUCTION_PASSWORD=db_password
DB_PRODUCTION_NAME=db_name
DB_PRODUCTION_HOST=db_host
DB_PRODUCTION_PORT=db_port
