<!-- <div class="row align-items-begin">
	<div class="col-6 left-nav">
	  <span class="nav-link">Web platform and application for beekeepers and beefriends.<br>Copyright 2017 &copy; MindStreamAgency</span>
	</div>
	<div class="col-6 right-nav">
	  <span class="nav-link"><a href="#">Language</a></span>
	  <span class="nav-link"><a href="#">Contact Us</a></span>
	  <span class="nav-link"><a href="#">Terms and Conditions</a></span>
	  <span class="nav-link"><a href="#">Privacy</a></span>
	</div>
</div> -->

<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
    <div class="collapse navbar-collapse d-flex flex-row row" id="navbarColor01">
      <div class="d-flex right-nav col-12 col-md-6 order-md-last justify-content-start justify-content-md-end">
        <div class="navbar-nav flex-sm-row first-col">
          <div class="nav-item d-flex">
            <a class="nav-link" href="#">Language</a>
          </div>
          <div class="nav-item d-flex">
            <a class="nav-link contact-long" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact Us</a>
            <a class="nav-link contact-short" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
          </div>
          <div class="nav-item d-flex">
            <a class="nav-link terms-long" routerLink="/terms" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Terms and Conditions</a>
            <a class="nav-link terms-short" routerLink="/terms" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Terms</a>
          </div> 
        </div>
        <div class="navbar-nav flex-sm-row second-col"> 
          <div class="nav-item d-flex">
            <a class="nav-link" routerLink="/privacy" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Privacy</a>
          </div>
          <div class="nav-item d-flex hidden-sm-up">
            <a class="nav-link" href="#">Visit us on Facebook</a>
          </div>
          <div class="nav-item d-flex hidden-sm-up">
            <a class="nav-link" href="#">Donate</a>
          </div>
        </div>
      </div>
      <div class="d-flex left-nav col-12 col-md-6 order-md-first">
        <ul class="navbar-nav">
          <li class="navbar-text">
            <span class="nav-link">Web platform and application for beekeepers and beefriends.<br>Copyright 2017 &copy; MindStreamAgency</span>
          </li>
        </ul>
      </div>
    </div>
</nav>