.row {
    padding-top: 10px;
}

.right-nav {
	text-align: right;
}

.left-nav {
	text-align: left;
}

.nav-link {
	display: inline-block;
	width: 100%;
}

@media (min-width: 576px) {
	.nav-link {
		width: auto;
		padding: 0 .5em;
	}
}