<div class="user-profile mainbody container-fluid">
    <div class="row profile-align-row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 user-profile-left" [ngClass]="{'hidden-md-down': inEditMode}">
            <div class="card">
                <div class="card-img-top">
                    <imageRatio [url]="localUser.picture">
                        <ribbon [type]="userRole">{{userRole}}</ribbon>
                    </imageRatio>
                </div>
                <div id="user-profile-accordion" class="user-profile-accordion" role="tablist" aria-multiselectable="true">
			  		<div class="card">
					    <div class="card-header hidden-md-up" role="tab" id="headingOne">
					      <h5 class="mb-0">
					        <a data-toggle="collapse" data-parent="#user-profile-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          User Information
					        </a>
					      </h5>
					    </div>
					    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      						<div class="card-block">
                                <div *ngIf="localUser.given_name || localUser.family_name">
                                    <h4 style="text-align: center;">{{localUser.given_name}} {{localUser.family_name}}</h4>
                                </div>
                                <div *ngIf="localUser.description">
    	      						<hr>
    			                    <h3><strong>Bio</strong></h3>
    			                    <p>{{localUser.description}}</p>
                                </div>
                                <div *ngIf="localUser.city || localUser.country">
    			                    <hr>
    			                    <h3><strong>Lives in</strong></h3>
    			                    <p>{{localUser.city}}, {{localUser.country}}</p>
                                </div>
                                <div *ngIf="localUser.gender">
    			                    <hr>
    			                    <h3><strong>Gender</strong></h3>
    			                    <p>{{localUser.gender}}</p>
                                </div>
                                <div *ngIf="localUser.birthday">
    			                    <hr>
    			                    <h3><strong>Age</strong></h3>
    			                    <p>{{calculateAge(localUser.birthday)}}</p>
                                </div>
      						</div>
  						</div>
					</div>
            	</div>
            </div>
        </div>
        <div class="col-lg-12 user-profile-header">
            <div class="card profile-header">
                <div class="card-block" *ngIf="!inEditMode">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">{{localUser.username || 'You'}} <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="User is verified"></i></h1>
                        <small *ngIf="!user.username"><small>(No username set yet)</small></small>
                        <div class="dropdown dropdown-subscribe pull-right" *ngIf="!isCurrentUser && isAuthenticated">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Subscribed
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Unsubscribe</a></li>
                            </ul>
                        </div>
                        <div class="user-profile-edit pull-right" *ngIf="isCurrentUser">
                            <button class="btn btn-warning" type="button" [routerLink]="['/user/edit/', localUser.username || 'me']">
                                Edit Profile
                                <i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </span>
                    <br><br>
                    <i class="fa fa-tags" aria-hidden="true"></i> {{localUser.interests}}
                    <br><br><hr>
                    <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;" *ngIf="userRole === 'Beekeeper'"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Beehives <span class="badge">1</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;" *ngIf="userRole === 'Beekeeper'"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Colonies <span class="badge">3</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;" *ngIf="userRole === 'Beekeeper'"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Followers <span class="badge">0</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;" *ngIf="userRole === 'Supporter'"><i class="fa fa-fw fa-money" aria-hidden="true"></i> Donations <span class="badge">1</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;" *ngIf="userRole === 'Supporter'"><i class="fa fa-fw fa-trophy" aria-hidden="true"></i> Achievements <span class="badge">3</span></a>
                    </span>
                    <span class="pull-right">
                        <a href="{{'mailto:'+ localUser.email}}" class="btn btn-link" style="text-decoration:none;" *ngIf="isAuthenticated"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Contact by Email"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;" *ngIf="!isCurrentUser && isAuthenticated"><i class="fa fa-lg fa-exclamation-triangle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Report User"></i></a>
                    </span>
                </div>
                <div class="card-block" *ngIf="inEditMode">
                    <userProfileForm [user]="localUser" [role]="userRole"></userProfileForm>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-12 user-profile-buzzes" *ngIf="!inEditMode && localUser">
            <ng-template ngFor [ngForOf]="localUser.buzzes" let-item>
                <buzz [user]="localUser" [role]="userRole" [buzz]=item></buzz>
            </ng-template>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
