<header>Loading...</header>

<main>
	<nav-bar>Loading...</nav-bar>
	<mainContent>
		<mainContentRow>
			<mainCard>
				<h1 class="card-title">About <span class="txt-bee">Us</span></h1><br>
					<div class="jumbotron jumbotron-fluid card-quote">
						<div class="inner-quote">
							<div class="row">
								<div class="col-12 col-md-10">
									<p class="lead"><i>“If the bee disappeared off the surface of the globe then man would only have four years of life left. No more bees, no more pollination, no more plants, no more animals, no more man.”</i></p><p class="author">Albert Einstein</p>
								</div>
								<div class="col-md-2 hidden-sm-down">
									<img src="assets/img/albert-einstein.png" class="einstein">
								</div>
							</div>
						</div>
					</div>
					<p><span class="txt-bee">Bee</span>Companion is a platform/application which brings beekeepers and beefriends together. We offer various tools to maintain/organize your favourite hobby as beekeeper and help you to create a personal fanbase who are able to support you as a beekeeper and to raise donations.</p>
					<p>Our goal is to connect interestet people with their local beekeepers and to fight bee death by supporting those local beekeepers with small but valuable donations.</p>
					<p>A project by,<br>MindStreamAgency<br><a href="mailto:nico@bee-companion.com">Nico Deufemia</a> & <a href="mailto:michael@bee-companion.com">Michael Andorfer</a></p>
			</mainCard>
		</mainContentRow>
	</mainContent>
</main>

<footer>Loading...</footer>