.nav-link {
    display: inline-block;
    padding: 0 1em;
    font-size: 14px;
    vertical-align: middle;
}

.main-nav {
    height: 30px;
    background-color: black;
    color: white;
    position: relative;
    padding-bottom: 4px;
}

.main-nav:after, main:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #F6DD3B;
    width: 100%;
    left: 0;
}

.left-nav {
    text-align: left;
}

.right-nav {
    text-align: right;
}