<div class="main-nav">
  <div class="row align-items-start">
    <div class="col-6 left-nav">
      <span class="nav-link nav-link-home"><a [routerLink]="['/']">Home</a></span>
      <span class="nav-link nav-link-home"><a [routerLink]="['/BeeRadar']">BeeRadar</a></span>
      <span class="nav-link nav-link-home"><a [routerLink]="['/AboutUs']">AboutUs</a></span>
    </div>
    <div class="col-6 right-nav">
      <span class="nav-link nav-link-singup"><a href="#">SignUp</a></span>
      <span class="nav-link nav-link-singup"><a href="#">LogIn</a></span>
    </div>
  </div>
</div>