<div class="signup-card">
    <div class="signup-content navbar-inverse">
        <p>Come on board and be part of our unique community! <span class="txt-bee">Bees for life, life for bees!</span></p>
        <div class="flex-row no-gutters d-flex justify-content-between social-signup" *ngIf="!forgotPassword">
            <div class="">
                <a href="#" (click)="auth.loginWithFacebook(); false;" class="button rounded">Facebook <i class="social_facebook icon"></i></a>
            </div>
            <div class="">
                <a href="#" (click)="auth.loginWithGoogle(); false;" class="button rounded">Google <i class="social_googleplus icon"></i></a>
            </div>
        </div>
        <form class="signup signup-supporter">
            <div class="flex-row">
                <div class="d-flex name">
                    <label for="email">Your name:</label>
                    <input #name class="nav-link" type="text" placeholder="First Name" title="Your first Name"[@fieldRequired]="passwordEmpty" (@fieldRequired.done)="resetUsernamePasswordEmtpy()">
                    <input class="nav-link" type="text" placeholder="Last Name" title="Your last Name"[@fieldRequired]="passwordEmpty" (@fieldRequired.done)="resetUsernamePasswordEmtpy()">
                </div>
            </div>
            <div class="flex-row username">
                <div class="d-flex">
                    <label for="email">Desired username:</label>
                    <input #username class="nav-link" type="text" placeholder="Username" title="Your desired username"[@fieldRequired]="usernameEmpty" (@fieldRequired.done)="resetUsernamePasswordEmtpy()">
                </div>
            </div>
            <div class="flex-row email">
                <div class="d-flex">
                    <label for="email">Your email address:</label>
                    <input #email class="nav-link" type="email" placeholder="Email address" title="Your email address"[@fieldRequired]="passwordEmpty" (@fieldRequired.done)="resetUsernamePasswordEmtpy()">
                </div>
            </div>
            <div class="flex-row password">
                <div class="d-flex">
                    <label for="email">Your password:</label>
                    <input #password class="nav-link" type="password" placeholder="Password" title="Your password"[@fieldRequired]="passwordEmpty" (@fieldRequired.done)="resetUsernamePasswordEmtpy()">
                </div>
            </div>
            <div class="flex-row passwordconfirm">
                <div class="d-flex">
                    <label for="email">Confirm your password:</label>
                    <input #passwordconfirm class="nav-link" type="password" placeholder="Repeat password" title="Repeat your password for security reasons"[@fieldRequired]="passwordEmpty" (@fieldRequired.done)="resetUsernamePasswordEmtpy()">
                </div>
            </div>
            <div class="row">
                <div class="col-9 log-message">
                    <span class="error">{{errorMsg}}</span>
                    <span class="success">{{successMsg}}</span>
                </div>
                <div class="col-3 justify-content-end">
                    <div class="signup-button continue">
                        <button type="submit" class="btn btn-link" (click)="checkInputs(username.value, password.value)"><i class="arrow_carrot-right_alt2"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>