<div class="signup-card">
    <div class="signup-content navbar-inverse" *ngIf="!successMsg">
        <p>Come on board and be part of our unique community! <span class="txt-bee">Bees for life, life for bees!</span></p>
        <div class="flex-row no-gutters d-flex justify-content-between social-signup" *ngIf="!forgotPassword">
            <div class="">
                <a href="#" (click)="auth.loginWithFacebook(); false;" class="button rounded">Facebook <i class="social_facebook icon"></i></a>
            </div>
            <div class="">
                <a href="#" (click)="auth.loginWithGoogle(); false;" class="button rounded">Google <i class="social_googleplus icon"></i></a>
            </div>
        </div>
        <form class="signup signup-supporter">
            <div class="justify-content-sm-between row no-gutters">
                    <label for="name" class="col-12 col-sm-auto">Your name:</label>
                    <input #firstName class="col-12 col-sm-4" type="text" placeholder="First Name" title="Your first Name" [@fieldRequired]="fieldEmpty.firstName" (@fieldRequired.done)="resetFieldEmtpy()" required minlength="2" maxlength="24" name="firstName">
                    <input #lastName class="col-12 col-sm-4" type="text" placeholder="Last Name" title="Your last Name"[@fieldRequired]="fieldEmpty.lastName" (@fieldRequired.done)="resetFieldEmtpy()" required minlength="2" maxlength="24" name="lastName">
            </div>
            <div class="justify-content-sm-between row no-gutters username">
                    <label for="username" class="col-12 col-sm-auto">Desired username:</label>
                    <input #userName class="col-12 col-sm-6" type="text" placeholder="Username" title="Your desired username"[@fieldRequired]="fieldEmpty.userName" (@fieldRequired.done)="resetFieldEmtpy()" required minlength="4" maxlength="24" name="userName">
            </div>
            <div class="justify-content-sm-between row no-gutters email">
                    <label for="email" class="col-12 col-sm-auto">Your email address:</label>
                    <input #email class="col-12 col-sm-6" type="email" placeholder="Email address" title="Your email address"[@fieldRequired]="fieldEmpty.email" (@fieldRequired.done)="resetFieldEmtpy()" required minlength="6" maxlength="255" name="email">
            </div>
            <div class="justify-content-sm-between row no-gutters password">
                    <label for="password" class="col-12 col-sm-auto">Your password:</label>
                    <input #password class="col-12 col-sm-6" type="password" placeholder="Password" title="Your password"[@fieldRequired]="fieldEmpty.password" (@fieldRequired.done)="resetFieldEmtpy()" required minlength="4" name="password">
            </div>
            <div class="justify-content-sm-between row no-gutters passwordconfirm">
                    <label for="passwordconfirm" class="col-12 col-sm-auto">Confirm your password:</label>
                    <input #passwordconfirm class="col-12 col-sm-6" type="password" placeholder="Repeat password" title="Repeat your password for security reasons"[@fieldRequired]="fieldEmpty.passwordConfirm" (@fieldRequired.done)="resetFieldEmtpy()" required minlength="4" name="passwordCheck">
            </div>
            <div class="row no-gutters">
                <div class="col-9 log-message">
                    <span class="error">{{errorMsg}}</span>
                    <span class="success">{{successMsg}}</span>
                </div>
                <div class="col-3 justify-content-end">
                    <div class="signup-button continue">
                        <button type="submit" class="btn btn-link" (click)="checkInputs(firstName.value, lastName.value, userName.value, email.value, password.value, passwordconfirm.value)"><i class="arrow_carrot-right_alt2"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="signup-content navbar-inverse" *ngIf="successMsg">
        <h3>Welcome on board,<br><span class="txt-bee">{{fullName}}!</span></h3>
        <p>Please check your email inbox for the activation email.</p>
    </div>
</div>
