<div id="beekeeper-menu" class="bee-scrollbar-mini beekeeper-menu" role="tablist" aria-multiselectable="true">
    <div class="list-group list-group-root panel card" id="#list-group">
        <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#beekeeper-menu" aria-expanded="false" [ngClass]="{'hidden-sm-down': isMenuActive() && !isMenuActive(1)}" (click)="setMenuActive(1)"><i class="icon_menu-circle_alt"></i> <span class="hidden-sm-down">Main Overview</span> </a>
        <div class="collapse" id="menu1">
            <a href="#" class="list-group-item" data-parent="#menu1">Notifications</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Recent Activites</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Buzz something</a>
        </div>
        <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#beekeeper-menu" aria-expanded="false" [ngClass]="{'hidden-sm-down': isMenuActive() && !isMenuActive(2)}" (click)="setMenuActive(2)"><i class="icon_house"></i> <span class="hidden-sm-down">My Beehives </span></a>
        <div class="collapse" id="menu2">
            <a href="#" class="list-group-item" data-parent="#menu2">First</a>
            <a href="#" class="list-group-item" data-parent="#menu2">Second</a>
            <a href="#" class="list-group-item" data-parent="#menu2">Third</a>
            <a href="#" class="list-group-item" data-parent="#menu2">Fourth</a>
            <a href="#" class="list-group-item" data-parent="#menu2">Fifth</a>
            <a href="#" class="list-group-item" data-parent="#menu2">Sixth</a>
        </div>
        <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#beekeeper-menu" aria-expanded="false" [ngClass]="{'hidden-sm-down': isMenuActive() && !isMenuActive(3)}" (click)="setMenuActive(3)"><i class="icon_genius"></i> <span class="hidden-sm-down">My Colonies </span></a>
        <div class="collapse" id="menu3">
            <a href="#" class="list-group-item" data-parent="#menu3">Alpha</a>
            <a href="#" class="list-group-item" data-parent="#menu3">Bravo</a>
            <a href="#" class="list-group-item" data-parent="#menu3">Charlie</a>
            <a href="#" class="list-group-item" data-parent="#menu3">Delta</a>
            <a href="#" class="list-group-item" data-parent="#menu3">Epsylon</a>
            <a href="#" class="list-group-item" data-parent="#menu3">Foxtrot</a>
        </div>
        <a href="#" class="list-group-item collapsed" data-parent="#beekeeper-menu" [ngClass]="{'hidden-sm-down': isMenuActive()}"><i class="icon_id_alt"></i> <span class="hidden-sm-down">My Profile</span></a>
        <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#beekeeper-menu" aria-expanded="false" [ngClass]="{'hidden-sm-down': isMenuActive() && !isMenuActive(4)}" (click)="setMenuActive(4)" *ngIf="!userIsAdmin"><i class="icon_cog"></i> <span class="hidden-sm-down">My Settings</span></a>
        <div class="collapse" id="menu4" *ngIf="!userIsAdmin">
            <a href="#" class="list-group-item" data-parent="#menu4">Accountsettings</a>
            <a href="#" class="list-group-item" data-parent="#menu4">Authentication</a>
        </div>
    </div>
</div>
