/*styles for bee-radar content only*/

.bee-radar {
  height: 100%;
  width: 100%;
  position: relative;

  /deep/ .main-content-row {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
  }

    button.toogle-map {
      z-index: 1000;
      position: absolute;
      right: 20px;
      bottom: 50px;
    }

  .button {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px;
    font-family: inherit;
    font-size: 15px;
    color: #111;
    text-align: center;
    text-decoration: none;
    background-color: #aaaaaa;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #202020 #1a1a1a #111;
    border-radius: 2px;
    &:hover {
      background-color: white;
    }
  }

  .button:active, .button.active {
    background-color: #F6DD3B;
    border-color: #1c1c1c #202020 #222;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
  }

  .rounded {border-radius:100em!important;}
}
