<header>Loading...</header>

<mainContent style="height: 100%; width: 100%" [ngClass]="'bee-radar bg-white'">
	<mainContentRow style="height: 100%; width: 100%">
		<radarCard *ngIf="!mapIsActive"
	        [styles]=styles
	        [lat]=lat
	        [lng]=lng
	        [zoom]=zoom
	        [zoomControl]=zoomControl
	        [disableDefaultUI]=disableDefaultUI
	        [disableDoubleClickZoom]=disableDoubleClickZoom
	        [scrollwheel]=scrollwheel
	        [streetViewControl]=streetViewControl>
    </radarCard>

    <beeMap *ngIf="mapIsActive"
            [styles]=styles
            [lat]=lat
            [lng]=lng
            [zoom]=zoom
            [zoomControl]=zoomControl
            [disableDefaultUI]=disableDefaultUI
            [disableDoubleClickZoom]=disableDoubleClickZoom
            [scrollwheel]=scrollwheel
            [streetViewControl]=streetViewControl>
    </beeMap>
    <button class="toogle-map" (click)="toggleMap()">+/-</button>
	</mainContentRow>
</mainContent>

<footer>Loading...</footer>
