<header>Loading...</header>

<mainContent style="height: 100%; width: 100%;" [ngClass]="'bee-radar bg-white'">
	<mainContentRow style="height: 100%; width: 100%;">
		<radarCard *ngIf="!mapIsActive && displayFlag != 'map'"
	        [styles]="styles"
	        [lat]="lat"
	        [lng]="lng"
	        [zoom]="zoom"
	        [zoomControl]="zoomControl"
	        [disableDefaultUI]="disableDefaultUI"
	        [disableDoubleClickZoom]="disableDoubleClickZoom"
	        [scrollwheel]="scrollwheel"
	        [streetViewControl]="streetViewControl">
    </radarCard>

    <beeMap *ngIf="mapIsActive && displayFlag != 'radar' && locations"
            [styles]="styles"
            [lat]="lat"
            [lng]="lng"
            [zoom]="zoom"
            [zoomControl]="zoomControl"
            [disableDefaultUI]="disableDefaultUI"
            [disableDoubleClickZoom]="disableDoubleClickZoom"
            [scrollwheel]="scrollwheel"
            [streetViewControl]="streetViewControl"
            [locations]="locations"
            (onBoundsChangedRedirect)="onBoundsChangedRedirect($event)">
    </beeMap>
    <button *ngIf="!mapIsActive && displayFlag == 'both'" class="button toogle-map rounded" (click)="toggleMap()">Zu Karte wechseln</button>
    <button *ngIf="mapIsActive && displayFlag == 'both'" class="button toogle-map rounded" (click)="toggleMap()">Zu Radar wechseln</button>
	</mainContentRow>
</mainContent>

<footer>Loading...</footer>
