<header>Loading...</header>

<main>
	<nav-bar>Loading...</nav-bar>
	<mainContent>
		<mainContentRow>
			<mainCard>
				<div class="card-tabs">
					<ul class="nav nav-tabs">
					  <li class="nav-item">
					    <a class="nav-link active" href="#">Login</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">Register</a>
					  </li>
					</ul>
				</div>
				<div class="login-register-card">
					<div class="login-content navbar-inverse">
						<div class="flex-row no-gutters d-flex justify-content-between social-login">
							<div class="">
								<a href="#">Google</a>
							</div>
							<div class="">
								<a href="#">Facebook</a>
							</div>
						</div>
						<ul class="navbar-nav">
							<li class="nav-item">
			                  <input class="nav-link" type="text" placeholder="Username">
			                </li>
			                <li class="nav-item">
			                  <input class="nav-link" type="password" placeholder="Password">
			                </li>
		                </ul>
		                <div class="password-forgot">
		                	<a href="">Forgot your Password?</a>
		                </div>
		                <div class="login-button">
		                	<button type="button" class="btn btn-link"><i class="arrow_carrot-right_alt2"></i></button>
						</div>
                	</div>
				</div>
			</mainCard>
		</mainContentRow>
	</mainContent>
</main>

<footer>Loading...</footer>