/*styles for login content only*/

main {
  width: 100%;
  position: relative;
  height: auto;

  /deep/ {
    maincard {
      @media (max-width: 767px) { 
        width: 100%;
        max-width: 400px;
      }
    }
    .card-block {
      padding: 0;
      margin-top: -1px;
      @media (min-width: 768px) { 
        min-width: 300px;
      }
    }
    .main-content-row {
      max-height: 600px;
    }
  }
  .card-tabs {
    .nav-item {
      min-width: 50%;
      color: white;

      a {
        border-radius: 0;
        color: rgba(255, 255, 255, 0.5);
        border: 0;
        border-radius: 0;
        &:hover {
          outline: none;
          color: rgba(255, 255, 255, 0.75);
        }
      }
      &:first-child a {
        @media (min-width: 768px) { 
          border-top-left-radius: 12px; 
        }
      }
      &:last-child {
        @media (min-width: 768px) { 
          border-top-right-radius: 12px; 
        }
      }

      .active {
        color: #464a4c!important;
      }
    }
  }
  
  .login-register-card{
    padding: 1.25em;
  }

  .login-content {
    overflow-y: auto;
    max-height: 400px;

    .social-login {
      padding-bottom: 1em;
    }

    .nav-item {
      &:not(:first-child) {
        padding-top: .5em;
      }
    
      input {
        padding: .125em;
        width: 100%;
        padding-left: .25em;
        padding-right: .25em;
        cursor: initial !important;
        background-color: transparent;
        border-color: white;
        border-radius: 4px;
        outline: none;
        &:focus {
            border-color: #f6dd3b;
        }
      }
    }

    .password-forgot {
      a {
        font-size: .75em;
        color: rgba(255,255,255,.5)
      }
    }

    .login-button {
      text-align: right;
      overflow: hidden;
      .btn-link {
        font-size: 2em;
        line-height: 1em;
        padding: 0;
        color: white;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          color: #F6DD3B;
        }
      }
    }
  }
}