.main-icon {
    font-size: 1.5em;
    a {
        color: rgba(0, 0, 0, 0.5);
        &:hover {
            color: rgba(0, 0, 0, 0.75)!important;
            text-decoration: none;
        }
    }
    i {
        vertical-align: baseline;
        &[class*=flag], &[class*=flag]:before {
            border-radius: 100%;
            overflow: hidden;
        }   
    }
}

.header-icons-right a:not(:last-child) {
    margin: 0 10px 0 0;
}

.bc-header-logo img {
    width: 144px;
    height: 100px;
    margin-top: 25px;
}

.header-icons-left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.15em;
    i {
        vertical-align: middle;
    }
}

.header-icons-right {
    position: absolute;
    right: 10px;
    top: 10px;
}