.main-icon > img {
    width: 24px;
    height: 24px;
}

.header-icons-right > img:not(:last-child) {
    margin: 0 10px 0 0;
}

.bc-header-logo > img {
    width: 144px;
    height: 100px;
    margin-top: 25px;
}

.header-icons-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-icons-right {
    position: absolute;
    right: 10px;
    top: 10px;
}