<div class="alert alert-dismissible fade show" [ngClass]="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'danger' }" *ngIf="message">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
    {{message}}
</div>
<div class="header-wrapper" [ngClass]="{'toggled': isToggled}">
	<div class="bc-header-logo"><a [routerLink]="['/']"><img src="../assets/img/mainlogo_hd.png"></a></div>
	<ng-content></ng-content>
	<div class="header-icons-left main-icon">
		<a (click)="enableNavigatorLocation()"><i class="icon my_location"></i></a>
	</div>
	<div class="header-icons-right main-icon">
		<a href="#" (click)="toggleHeader()" class="toggle-header" *ngIf="auth.isAuthenticated()"><i _ngcontent-c2="" class="hidden-xs-down" [ngClass]="{'arrow_carrot-down': !isToggled, 'arrow_carrot-up': isToggled}"></i></a>
		<a href="#"><i class="social_facebook_circle hidden-xs-down"></i></a>
		<a href="#"><i class="icon paypal hidden-xs-down"></i></a>
		<a href="#"><i class="icon flag_gb"></i></a>
	</div>
</div>
