<header>Loading...</header>

<mainContent [ngClass]="'user-page bg-white'">
	<mainContentRow>
		
			<userProfile *ngIf="localUser" [user]="localUser"></userProfile>
			<div *ngIf="!localUser" class="user-profile user-profile-placeholder loading">
			    <div class="row">
			      <div class="col-12">
			        <h3>{{id}}'s Profile:</h3>
			        <img [src]="" alt="" class="profile-img">
			        <p><strong>Name: </strong> </p>
			        <p><strong>Email: </strong> </p>
			        <p><strong>Nickname: </strong> </p>
			      </div>
				</div>
			</div>
		
	</mainContentRow>
</mainContent>

<footer>Loading...</footer>
