html, body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

// a:not(.btn):not(.button) {
// 	color: white;
// 	text-decoration: none;
// }

// a:not(.btn):not(.button):not(.nav-link):hover {
// 	text-decoration: underline;
// }

// a:not(.btn):not(.button):visited {
// 	color: white;
// }

// a:not(.btn):not(.button).active {
//   color: #F6DD3B;
// }

.no-gutter {
	padding: 0;
}

app > .container-fluid {
	padding-left: 0;
	padding-right: 0;
	height: 100%;
}

.bee-scrollbar {
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
		background-color: rgba(0, 0, 0, 0.85);
	}
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: #F5F5F5;
	}
	::-webkit-scrollbar-thumb {
		background-color: #F6DD3B;
	}
}

.bee-scrollbar-mini {
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.3);
		background-color: rgba(0, 0, 0, 0.85);
	}
	::-webkit-scrollbar {
		width: 2px;
		height: 2px;
		background-color: #F5F5F5;
	}
	::-webkit-scrollbar-thumb {
		background-color: #F6DD3B;
	}
}
