html, body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

a:not(.btn):not(.button) {
	color: white;
	text-decoration: none;
}

a:not(.btn):not(.button):hover {
	text-decoration: underline;
}

a:not(.btn):not(.button):visited {
	color: white;
}

a:not(.btn):not(.button).active {
  color: #F6DD3B;
}

.no-gutter {
	padding: 0;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}