<!-- Simple Buzz -->
<div class="card buzz buzz-default">
    <div class="card-block">
        <div class="pull-left">
            <a href="#">
                <img class="media-object img-circle" src="{{user.picture}}" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
            </a>
        </div>
        <h4>
        	<a href="" style="text-decoration:none;" [routerLink]="['/user/', user.username]">
        		<strong>{{user.username || 'You'}}</strong>
    		</a> – 
    		<small><small>
    			<a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidedn="true"></i>{{timeDifference(buzz.createdAt)}}</i></a>
			</small></small>
            <div class="dropdown pull-right buzz-control" *ngIf="isAuthenticated">
                <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;left: auto;right: 0;">
                    <li><a href="#" *ngIf="!isCurrentUser"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                    <li><a href="#" *ngIf="isCurrentUser"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
                    <li><a href="#" *ngIf="isCurrentUser"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                </ul>
            </div>
        </h4>
        <hr>
        <div class="post-content">
            <p>{{buzz.message}}</p>
        </div>
        <hr>
        <div>
            <div class="pull-right btn-group-xs"  *ngIf="isAuthenticated">
            	<a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like {{buzz.likes}}</a> 
            </div>
            <div class="pull-left">
            </div>
            <div class="dropdown pull-left buzz-privacy-control" *ngIf="isCurrentUser">
                <button class="btn btn-link btn-xs dropdown-toggle text-muted" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-globe" aria-hidden="true"></i> {{buzz.scope.charAt(0).toUpperCase() + buzz.scope.slice(1)}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;left: auto;right: 0;">
                    <li><a href="#">Public</a></li>
                    <li><a href="#">Registered</a></li>
                    <li><a href="#">Donators</a></li>
                    <li><a href="#">only me</a></li>
                </ul>
            </div>
            <br>
        </div>
    </div>
</div>
