:host {
  &.bg-white {
    main .main-content:after {
      opacity: 0;
    }
  }
}

main {
  width: 100%;
  position: relative;
  height: auto;
  transition: padding .75s ease;

  &.fullDimension {
    height: 100%;
    padding-left: 0!important;
    /deep/ .main-content-row {
      padding: 0!important;
    }
  }

  //transition: padding .75s ease;
  // iphone 5: 320x568
  // 100% - header - footer
  min-height: calc(100% - 150px - 239px);
  @media (min-width: 576px) {
    min-height: calc(100% - 150px - 119px);
  }
  @media (min-width: 768px) {
    min-height: calc(100% - 150px - 106px);
  }
  @media (min-width: 992px) {
    //same as 768px
  }
  @media (min-width: 1044px) {
    min-height: calc(100% - 150px - 82px);
  }

  &.loggedIn {
    padding-top: 160px;
    transition: padding .75s ease;
    //as header is fixed now, header does not need to be substracted anymore
    min-height: calc(100% - 239px);
    @media (min-width: 576px) {
      min-height: calc(100% - 119px);
    }
    @media (min-width: 768px) {
      &.userHasRole:not(.hideSideNav) {
        //pad left for sidenav
        padding-left: 200px;
      }
      padding-top: 120px;
      min-height: calc(100% - 106px);
    }
    @media (min-width: 992px) {
      //same as 768px
    }
    @media (min-width: 1044px) {
      min-height: calc(100% - 82px);
    }
    &.headerIsToggled {
      padding-top: 60px;
      @media (max-width: 767px) {
        padding-top: 100px;
      }
      /deep/ side-nav {
        @media (max-width: 767px) {
          width: 100%;
          padding: 0;
          height: auto;
          top: 60px;
        }
      }
    }
    .main-content:after {
      //opacity: 0;
    }
    /deep/ side-nav {
      @media (max-width: 767px) {
        width: 100%;
        padding: 0;
        height: auto;
        top: 120px;
      }
    }
  }
}

.main-content {
    width: 100%;
    height: 100%;
    @media (min-width: 768px) {
        //height: 600px;
    }
    &:after {
        content: "";
        background: url(https://images.pexels.com/photos/63641/bee-in-the-approach-bee-apis-pollen-63641.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        transition: opacity 1s ease;
    }

    /deep/ .txt-bee {
        color: #F6DD3B;
        font-weight: 600;
    }
}
