<div class="bee-map">
		<div id="map">
			<agm-map
        [latitude]="lat"
        [longitude]="lng"
        [styles]="styles"
        [zoom]="zoom"
        [disableDefaultUI]="disableDefaultUI"
        [scrollwheel]="scrollwheel"
        [zoomControl]="true"
        [mapDraggable]="mapDraggable"
        [disableDoubleClickZoom]="disableDoubleClickZoom"
        [streetViewControl]="streetViewControl">
        <marker-cluster [locations]="locations"></marker-cluster>
      </agm-map>
		</div>
</div>
