<header>Loading...</header>

<main>
  <nav-bar>Loading...</nav-bar>
  <div class="main-content">
  </div>
</main>

<footer>
  <div class="row align-items-begin">
    <div class="col-6 left-nav">
      <span class="nav-link">Web platform and application for beekeepers and beefriends.<br>Copyright 2017 (C) MindStreamAgency</span>
    </div>
    <div class="col-6 right-nav">
      <span class="nav-link">Language</span>
      <span class="nav-link">Contact Us</span>
      <span class="nav-link">Terms and Conditions</span>
      <span class="nav-link">Privacy</span>
    </div>
  </div>
</footer>