/*styles for home content only*/

header {
    height: 150px;
    width: 100%;
    position: relative;
    text-align: center;
}

main {
    width: 100%;
    position: relative;
    height: auto;
}

main .main-content {
    width: 100%;
    height: auto;
    min-height: 600px;
    background: url(https://images.pexels.com/photos/63641/bee-in-the-approach-bee-apis-pollen-63641.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    color: white;
    min-height: 60px;
    height: auto;
    position: relative;
    width: 100%;
    padding-top: 4px;
}

footer:before {
    content: '';
    position: absolute;
    top: 0;
    height: 4px;
    background-color: #F6DD3B;;
    width: 100%;
    left: 0;
}
