/*styles for home content only*/
.main-icon > img {
    width: 24px;
    height: 24px;
}

.header-icons-right > img:not(:last-child) {
    margin: 0 10px 0 0;
}

.nav-link {
    display: inline-block;
    padding: 0 1em;
    font-size: 14px;
    vertical-align: middle;
}

.main-nav {
    height: 30px;
    background-color: black;
    color: white;
    position: relative;
    padding-bottom: 4px;
}

main {
    width: 100%;
    position: relative;
    height: auto;
    padding-bottom: 4px;
}

header {
    height: 150px;
    width: 100%;
    position: relative;
    text-align: center;
}

.main-nav:after, main:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #F6DD3B;
    width: 100%;
    left: 0;
}

.left-nav {
    text-align: left;
}

.right-nav {
    text-align: right;
}

.main-content-bg {
    height: 600px;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    height: 60px;
    position: relative;
    width: 100%;
}

footer:before {}

footer:before {
    position: absolute;
    top: 0;
    height: 4px;
    background-color: yellow;
    width: 100%;
    left: 0;
}

footer .row {padding-top: 10px;}

.bc-header-logo > img {
    width: 144px;
    height: 100px;
    margin-top: 25px;
}

.header-icons-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-icons-right {
    position: absolute;
    right: 10px;
    top: 10px;
}
