<header>Loading...</header>

<mainContent [ngClass]="'contact'">
	<mainContentRow>
		<mainCard>
			<h1 class="card-title">Contact <span class="txt-bee">Us</span></h1>
				<div class="row contact-row align-items-center">
					<div class="col-3">
						<i class="icon icon_mail_alt"></i>
					</div>
					<div class="col-9">
						<a href="mailto:office@bee-companion.com">office@bee-companion.com</a>
					</div>
				</div>
				<p>A project by,<br>MindStreamAgency<br><a href="mailto:nico@bee-companion.com">Nico Deufemia</a> & <a href="mailto:michael@bee-companion.com">Michael Andorfer</a></p>
		</mainCard>
	</mainContentRow>
</mainContent>

<footer>Loading...</footer>
